<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">Junction Modeller </a>
        </div>

        <ul class="nav navbar-nav">
        
        <!-- Hard-coding the selected headerbar buttons lmao -->

        {% if include.selection == "Install" %}
            <li class="active"><a href="{{ site.baseurl }}/Install">Install</a></li>
        {% else %}
        <li><a href="{{ site.baseurl }}/Install">Install</a></li>
        {% endif %}

        {% if include.selection == "About" %}
            <li class="active"><a href="{{ site.baseurl }}/About">About</a></li>
        {% else %}
            <li><a href="{{ site.baseurl }}/About">About</a></li>
        {% endif %}

        <!-- The "Meet the Team" page is deprecated -->
         
        <!-- {% if include.selection == "Team" %}
            <li class="active"><a href="{{ site.baseurl }}/Team">Meet the Team</a></li>
        {% else %}
            <li><a href="{{ site.baseurl }}/Team">Meet the Team</a></li>
        {% endif %} -->
        </ul>
    </div>
</nav>
    