#heroSection {
    background-color: #000000;
    background-position: center; 
    background-size: cover;

    position:absolute;
    height:100%;
    width:100%;

    color:white;
    font-family: sans-serif;
}

h1 {
    font-size: 100px;
}

h5 {    
    font-size: 50px;
    font-family: sans-serif;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: skyblue;
}

section {
    display: flex;
    justify-content: center;
}
